:root {
	/* Background elevation levels */
	--bg0: #171719;
    --bg1: #202126;
	
	--fg: #f4f3f2;
	--accent: #efb762;
	--accentDark: #bc6e49;

	--select-color: #c2beb9;
	--scrollbar-track: #dbd6d0;
	--underline: #DBD8D5;

	--header-font: "Montserrat";
	--body-font: "Open Sans";
}