:root {
	/* Background elevation levels */
	--bg0: #F2EFEC;
    --bg1: #F4F3F2;
	
	--fg: #121212;
	--accent: #efb762;
	--accentDark: #bc6e49;

	--select-color: #c2beb9;
	--scrollbar-track: #dbd6d0;
	--scrollbar-thumb: #F2EFEC;
	--underline: #DBD8D5;

	--header-font: "Montserrat";
	--body-font: "Open Sans";
}