:root {
    --w500: #F4F3F2;
	--bg300: #c2beb9;
	--bg400: #dbd6d0;
    --offwhite: #F2EFEC;
	--bg600: #f4f0e9;
    --g100: #121212;

	--accent: #efb762;
	--accentDark: #bc6e49;

	--sidebar-header-underline: #DBD8D5;
}